.home-banner {
  background-image: url('https://source.unsplash.com/Lq6rcifGjOU');
  background-size: cover;
  height: 100vh;
  color: #eee;
  text-align: center;
  text-emphasis-color:  rgb(218, 195, 195);
  padding-top: 40vh;
}